/* content-selector.css */

.cs-main { }

.cs-main .cs-symbol {
	/* set width in js */
	float: left;
	position: absolute;
  	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	transform: translateY(-50%);
  	font-size: 16pt;
  	margin-top: -1px;
}

.cs-main ul {
	/* set width in js */
	float: left;
	list-style-type: none;
	padding: 0 0 0 20px;
	margin: 0;	
}

.cs-main li { }

.cs-main .cs-heading {
	margin: 0;
	cursor: pointer;
	position: relative;
  	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.cs-v-center {
	position: relative;
  	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.cs-v-top {
	position: relative;
	top: 0;
}

.cs-v-bottom {
	position: relative;
	bottom: 0;	
}

.cs-h-center {
	text-align: center;
}

.cs-h-left {
	text-align: left;
}

.cs-h-right {
	text-align: right;
}